<a href="https://colab.research.google.com/github/SaiPavanKumarB/Liberty-Insurance-Case-Study/blob/main/Liberty_Insurance_Case_Study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

In [3]:
Input_df = pd.read_csv('casestudy_data.csv')
Input_df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   policy_desc  claim_count  ... cat_fuelType  num_driverAge
0            1            1  ...      Regular             55
1            3            1  ...      Regular             55
2            5            1  ...       Diesel             52
3           10            1  ...       Diesel             46
4           11            1  ...       Diesel             46

[5 rows x 12 columns]

In [4]:
Input_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418461 entries, 0 to 418460
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   policy_desc                 418461 non-null  int64
 1   claim_count                 418461 non-null  int64
 2   cat_areacode                418461 non-null  object
 3   num_vehicleAge              418461 non-null  int64
 4   num_noClaimDiscountPercent  418461 non-null  int64
 5   cat_carBrand                418461 non-null  object
 6   num_populationDensitykmsq   418461 non-null  int64
 7   cat_Region                  418461 non-null  object
 8   ord_vehicleHP               418461 non-null  int64
 9   num_exposure                418461 non-null  object
 10  cat_fuelType                418448 non-null  object
 11  num_driverAge               418452 non-null  object
dtypes: int64(6), object(6)
memory usage: 38.3+ MB

In [5]:
Input_df.isna().sum()

policy_desc                    0
claim_count                    0
cat_areacode                   0
num_vehicleAge                 0
num_noClaimDiscountPercent     0
cat_carBrand                   0
num_populationDensitykmsq      0
cat_Region                     0
ord_vehicleHP                  0
num_exposure                   0
cat_fuelType                  13
num_driverAge                  9
dtype: int64

Fuel Type has 13 missing values